# Core data science / ML
pandas
numpy
scikit-learn
PyYAML
matplotlib
seaborn

# DVC and cloud integration
boto3
dvc

# Notebook support
jupyter
ipykernel
nltk
xgboost

# Experiment tracking
dvclive
mlflow
dagshub

# Web app framework
streamlit

# Testing
pytest